@tailwind base;
@tailwind components;
@tailwind utilities;

.landing{
  background: linear-gradient(0,white ,#44aff7);
}

:root {
  --main-color: rgb(104, 117, 217);
  --main-color-hover: rgb(104, 117, 217, 0.2);
  --track-color: #ddd;
}

.customSlider {
  /* max width of your slider */
  max-width: 300px;
  /* Optional: Only If you want to center your slider in the page */
  margin: auto;
}

.customSlider-track {
  /* Top value to align your track to the center of your thumb */
  top: 8px;
  /* thickness of the track */
  height: 4px;
  /* default color of your track */
  background: var(--track-color);
}

.customSlider-track.customSlider-track-0 {
  /* color of the track before the thumb */
  background: var(--main-color);
}

@keyframes motion {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#ring {
  position: absolute;
  animation: motion 20000ms infinite linear;
}

#cloud {
	width: 40%;
	height: 15%;
	background: #f2f9fe;
	background: -moz-linear-gradient(to bottom,  #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#f2f9fe), color-stop(100%,#d6f0fd));
	background: -webkit-linear-gradient(to bottom,  #f2f9fe 5%,#d6f0fd 100%);
	background: -o-linear-gradient(to bottom,  #f2f9fe 5%,#d6f0fd 100%);
	background: -ms-linear-gradient(to bottom,  #f2f9fe 5%,#d6f0fd 100%);
	background: linear-gradient(to bottom,  #f2f9fe 5%,#d6f0fd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 );
	position: absolute;
  top: 0;
  right: 0;
  margin-top: 50px;
  margin-right: 20px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
  -webkit-animation: mover 3.5s infinite  alternate;
  animation: mover 3.5s infinite  alternate;
  z-index: 9999;
}

#cloud:after, div#cloud:before {
	content: '';
	position: absolute;
	z-indeX: -1;
	background: #f2f9fe;
}

.rain {
  position : absolute;
  height : 80%;
  width : 100%;
  color: #0055ff;
}

.drop {
  position : absolute;
  background : linear-gradient(#002fff, #ffffff);
  opacity : 2;
  top : 25px;
}

.d1 {
  left : 97%;
  width : 2%;
  height : 10%;
  animation : fall .94s linear 0.69s infinite;
}

.d2 {
  left : 18%;
  width : 2%;
  height : 10%;
  animation : fall .98s linear 0.57s infinite;
}
.d3 {
  left : 38%;
  width : 2%;
  height : 10%;
  animation : fall .66s linear .60s infinite;
}

.d4 {
  left : 64%;
  width : 2%;
  height : 10%;
  animation : fall .69s linear .76s infinite;
}

.d5 {
  left : 95%;
  width : 2%;
  height : 10%;
  animation : fall .75s linear .56s infinite;
}

.d6 {
  left : 65%;
  width : 2%;
  height : 10%;
  animation : fall .75s linear .92s infinite;
}

.d7 {
  left : 19%;
  width : 2%;
  height : 10%;
  animation : fall .92s linear .72s infinite;
}

.d8 {
  left : 55%;
  width : 2%;
  height : 10%;
  animation : fall .84s linear .99s infinite;
}

.d9 {
  left : 35%;
  width : 2%;
  height : 10%;
  animation : fall .79s linear .53s infinite;
}

.d10 {
  left : 83%;
  width : 2%;
  height : 10%;
  animation : fall .82s linear .97s infinite;
}

.d11 {
  left : 8%;
  width : 2%;
  height : 10%;
  animation : fall .75s linear .56s infinite;
}

.d12 {
  left : 1%;
  width : 2%;
  height : 10%;
  animation : fall .60s linear .59s infinite;
}

.d13 {
  left : 13%;
  width : 2%;
  height : 10%;
  animation : fall .5s linear .5s infinite;
}

.d14 {
  left : 13%;
  width : 2%;
  height : 10%;
  animation : fall .80s linear .63s infinite;
}

.d15 {
  left : 13%;
  width : 2%;
  height : 10%;
  animation : fall .68s linear .75s infinite;
}

@keyframes fall {
	to {margin-top:150px; opacity:0;}
}
@keyframes fall {
	to {margin-top:150px; opacity:0;}
}

@keyframes mover {
    0% { transform: translateY(1rem); }
    100% { transform: translateY(2.6rem); }
}
	
